{% extends 'base.html.twig' %}
{% block body %}
<h1>Table de multiplication de {{n}}</h1>

<table>
    
        {% for i in 0..10 %}
        <tr><td>{{i}} x {{n}} = </td><td>{{i*n}}</td></tr>
        {% endfor %}
    
</table>php
{% endblock %}